﻿<ion-view view-title="<center>TODAY<sub>{{title}}</sub></center>">
    <ion-content class="has-header">
        <h1 class="com-soon">Coming Soon</h1>
    <button class="btn" ng-click="openCalenderScreen()">Click It</button>

    </ion-content>
</ion-view>