﻿<ion-view view-title="<center>TODAY<sub>{{title}}</sub></center>">
    <ion-content class="has-header; background">
   
        <ion-list>

        <ion-item class="item item-trns" ng-repeat="t in pieces" > 
        <div class="enjoy-css">{{ t }}<p ng-repeat="X in eventnumber" style="color: white;text-align: right;padding-right: 30px;">{{ X }}</p></div>
                  </ion-item> 
        
           
            <!--- <ion-item class="item item-trns" ng-repeat="t in pieces">
                {{t}}
            </ion-item> -->
        </ion-list> 
    </ion-content>
</ion-view>