<ion-view hide-back-button="true" view-title="<center>TODAY<sub>{{title}}</sub></center>" cache-view="false">



    <ion-content class="has-header; ">
 <a class="button button-full icon-right ion-chevron-down button-light" ng-click="gotoCategoryModal()" nav-transition="android"><p style=" 
      line-height: inherit;position: absolute;color: white;">SELECT INTEREST</p></a>

      <div class="bar bar-footer foot-main-event" ng-click="showEventMainModal()">
  <div class="title eve-foot-tit">{{eventTitle}}</div>
</div>

              <div id="map" data-tap-disabled="true"></div>
    </ion-content>

</ion-view>
