/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'Avenir';
    src: url('../lib/fonts/Avenir-Book.eot');
    src: url('../lib/fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
    url('../lib/fonts/Avenir-Book.woff') format('woff'),
    url('../lib/fonts/Avenir-Book.ttf') format('truetype'),
    url('../lib/fonts/Avenir-Book.svg') format('svg');
    font-weight: 200;
}
body{
    font-family: 'Avenir-Book','Avenir-Heavy' !important;
}


.b {
    background: url(../../img/BG.png);
}
.background {
    background: url(../../img/BG.png) no-repeat
    center center fixed;
    -webkit- background-size: cover;
    -moz- background-size: cover;
    -o- background-size: cover;
    background-size: cover;
   }
 ion-view {
    background: url(../../img/main_bkg.png)  no-repeat;
  background-size: contain;
    -webkit- background-size: cover;
    -moz- background-size: cover;
    -o- background-size: cover;
    /*background-size: cover;*/
   }

.bar {
    background-color: transparent !important;
}
.tab-nav.tabs {
    background-color: transparent !important;
    border: 0;
}
.item.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white;
  padding-bottom: 0px !important;
      padding-top: 0px !important;

}
.tabs-striped.tabs-background-trns .tabs {
  background-color: rgba(0, 0, 0, 0) !important;
  color: transparent !important;
  }

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /*width: 100%;*/
  padding: 10px;
  overflow: hidden;
  border: 0 solid rgba(255,255,255,1);
  /*border-bottom: 1px solid rgba(255,255,255,0.21);*/
  /*font: normal 18px/1 Arial, Helvetica, sans-serif;*/
  color: rgba(255,255,255,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 4px;
  background: rgba(140,140,140,0);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;

      
}
.enjoy-css2 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  /*font: normal normal bold 20px/1 Arial, Helvetica, sans-serif;*/
  color: rgba(255,255,255,1);
  text-align: right;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  letter-spacing: 5px;
}
.bar.bar-light {
  background-color: transparent important; /* or transparent, or background:none */
}
.scroll-content {
  overflow: visible !important;
}
.font {
	  /*font: normal normal bold 20px/1 Arial, Helvetica, sans-serif;*/
	  color: rgba(255,255,255,1);
	  letter-spacing: 5px;
	   -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

#map {
width: 100% !important;
    height: 86.3% !important;
}


.cat-headBar{
      float: left !important;
    position: relative !important;
}

.cat-list{

     margin-top: -30px;

}

.cat-icon{
     z-index: 10;
}

/*.cat-line-div{
background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}*/



.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

    
/*.cat-rep{
height: 320px 
    }*/


.cat-rep:last-child {
      height: 29% !important;
}




/* Empty. Add your own CSS if you like */
/*.top-bar{
      height: 70px;
      background: none;
      //padding:4%;
      background:rgba(255, 255, 255, 0.08);
}
*/

#pg-select-interest{
  top: -100vh;
    background: rgb(0, 0, 0);
    z-index: 2;
    transition:0.3s ease;
}
#pg-select-interest.visible{
  top:0vh;
}
.today-live{
  height: 1.2em;
    margin: auto;
    margin-top:0.7em;
    //vertical-align: middle;
}
.menu-content{
  background:url('../img/main_bkg.png');
  background-size:cover;
  /*background-size: contain;*/

  background-position: center;
}
.ven-nav-btn{
  color:#FFF !important;
}
.top-bar{
  background:none !important;
}
.tabs{
  background:none !important;
  //border-color:black !important;
  width: 100%;
  margin-left:-50px;
  border-bottom:0px !important;
}
.tabs .tab-item{
  //margin:10px;
}

.interest-btn{
  display: block;
    width: 100%;
    /* height: 50px; */
    text-align: left;
    text-transform: uppercase;
    color: #FFF;
    background: rgba(255, 255, 255, 0.03);
    border: none;
    margin-top: 50px;
    padding: 20px;
    font-size: 18px;
}

.interest-btn i{
  float:right;
}
#map {
  width: 100%;
  height: 75vh;
}

.sub-head{
  margin-top: 100px
}

.subCat-li{
  height: 80px;
  padding: 0px;
    /*background: url(../../img/subCat-li.png);*/
  }
  .subCat-li img{
        width: 100%;
    height: 80px;
  }       

  .li-head{
width: 100%;
height:18px;
    padding-bottom: 25px;
        margin-top: -73px;
    font-size: 12px;
    color: #fff;
  }

  .li-content{
width: 100%;
height:18px;
padding-bottom: 25px;
color: #fff;
  }

  .li-foot{
width: 100%;
height:18px;
font-size: 12px;
color: #fff;
  }

  .li-content p{
color: #fff;
font-size: 10px;
float: right;

  }

    .li-foot p{
color: #fff;
font-size: 10px;
float: right;

  }

  a{
    text-decoration: none;
  }

  #mapEvent {
width: 100% !important;
        /*height: 65% !important;*/
height: 330px !important;
}

.foot-event{
    background-color: rgba(255, 255, 255, 0.18)  !important;
        height: 80px !important;
}

.eve-foot-tit{
    line-height: 94px !important;
    height: 80px !important;
    color: #fff !important;
    font-size: 18px !important;
}

.event-cont-foot{
 width: 100% ; 
}
.event-cont-foot p{
margin-top: 15px;
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
} 

.event-cont-foot .p2{
    margin-top: -35px;
    float: right;
    color: #fff;
    margin-right: 10px;
    font-size: 12px;
}   

.tab-nav.tabs{
      margin-left: 0px !important;
}

.cat-icon2{
  float: right;
  color: #fff;
}

.cat-icon{
  color: #fff;
}



.title.title-center.header-item{

  border-bottom: 1px solid rgba(255,255,255,0.21) !important;

}

.description-modal{
margin-top: 70px;
    margin-left: 20px;
    color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.21) !important;
/*height: 170px;*/
}


.description-modal i{
padding-right: 30px;
font-size: 20px;
}

.description-modal p{
    margin-left: 52px;
    font-size: 11px;
}

.des-des{
    margin-left: 52px;
margin-top: 30px
}


.open-modal{
  margin-top: 30px;
    margin-left: 20px;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.21) !important;
    height: 120px;
}

.open-modal i{
padding-right: 30px;
font-size: 20px;
}
.open-modal p{
    margin-left: 52px;
    font-size: 11px;
    margin-top: 15px;
}

.open-des{
    margin-left: 52px;
    font-size: 11px;

}

.location-modal{
  height: 94px !important;
}



.top-event{
    background-color: rgba(255, 255, 255, 0.18)  !important;
        height: 130px !important;
        position: relative;
    top: 44px !important;
border-bottom: 0px solid !important;

}



.eve-top-tit{
  line-height: 120px !important;
  height: 80px !important;
  color: #fff !important;
  font-size: 20px !important;
}

.event-open-des{
      float: right !important;
    margin-top: -84px !important;
    margin-right: 30px !important;
}


.open-des-event{
      float: right;
    /* margin-left: 40px; */
    margin-right: 40px;
    margin-top: -21px;
}


.eve-p2{
    float: right !important;
    margin-top: -30px !important;
    margin-right: 90px !important;
}

.foot-event-dir{
position: relative !important;


}

.icon-right-eve{
  float: right;
    margin-top: -57px;
    font-size: 28px;
}

.noti-icon{
  margin-top: 10px !important;
}

.foot-icon{
font-size: 40px !important;
    margin-top: -3px;

        text-align: center;
    position: absolute;
    width: 100%;
}


.background-main{
   background: url(../../img/main_bkg.png) no-repeat
    center center fixed !important;
    -webkit- background-size: cover;
    -moz- background-size: cover;
    -o- background-size: cover;
    background-size: cover;

}

.cat-icon-right{
float: right;
  
}

.cat-h4{
      text-align: center !important;
       margin-top: -11px !important;  
    margin-left: 30px !important;
    color: #fff !important;
}


.bar.bar-dark {
    border-color: rgba(17, 17, 17, 0) !important;

}


/*hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}*/

hr.style-one {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(232, 233, 234) , rgba(0, 0, 0, 0));
}

.com-soon{
      /* float: right; */
    text-align: center !important;

    margin-top: 90px !important;

    color: #fff !important;

    /* margin-left: 60px; */
}

.extraWidthClass{
  width: 100%;
  height: 80px;
}

.cat-h3 {
    /* margin: inherit; */
    text-align: center;
    margin-top: -40px;
    /* width: 360px; */
    margin-left: 30px;
    color: #fff;
}


.tab-nav.tabs{
      height: 42px !important;
}




.head-calen{

  text-align: center;

}

.p-h-calen{

      color: #fff;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 13px;
}

.p2-h-calen{
color: #DEDEE2;
}

.low-head-calen{
  text-align: center;

}

.cont-head-calen{
  text-align: center;
  margin-right: 100px

}

.p-lh-calen{

      color: #DEDEE2;
    font-size: 16px;
    margin-top: 28px;
}

.p-l2h-calen{
      color: #DEDEE2;
    font-size: 16px;
    margin-top: 28px;
}

.p-ch-calen{
    color: #DEDEE2;
    font-size: 12px;
    margin-top: 48px;
    /*width: 50%;*/
}


.left-icon-calen{
    float: left;
    margin-top: -2px;
    font-size: 20px;
    font-size: x-large;
    color: #DEDEE2;
    margin-left: 80px;
}


.right-icon-calen{
    float: right;
    margin-top: -32px;
    font-size: 20px;
    font-size: x-large;
    color: #DEDEE2;
    margin-right: -5px;

    /*margin-right: 150px;*/
}


.p-ch2-calen{
    color: #DEDEE2;
    font-size: 18px;
    margin-top: 48px;
}
























/*Date Picker Css--------------------------------------------------------------------------------------*/
.padding_zero {
  padding: 0;
}

.ionic_datepicker_popup .font_bold {
  font-weight: bold;
          font-weight: bold;
    color: #AAA8AE;
}
.ionic_datepicker_popup .padding_top_zero {
  padding-top: 0;
}
.ionic_datepicker_popup .padding_left_5px {
  padding-left: 5px;
}
.ionic_datepicker_popup .padding_right_5px {
  padding-right: 5px;
}
.ionic_datepicker_popup .calendar_grid {
  height: 215px;
}
.ionic_datepicker_popup .today {
  border: 1px solid #383C3B;
  border-radius: 50%;
}
.ionic_datepicker_popup .selected_date {
  background-color: rgba(250, 250, 250, 0.31);
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
}
.ionic_datepicker_popup .popup-head {
  background-color: #383C3B;
  display: none;
}
.ionic_datepicker_popup .popup-head .popup-title {
  color: #ffffff;
}
.ionic_datepicker_popup .popup-head .popup-sub-title {
  color: #ffffff;
}
.ionic_datepicker_popup .popup-body {
  background-color: #ffffff;
}
.ionic_datepicker_popup .popup-body .selected_date_full {
  background-color: #383C3B;
  margin: -10px -10px 0 -10px;
  height: 45px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  line-height: 45px;
  font-size: 18px;
}
.ionic_datepicker_popup .popup-body .select_section {
  padding: 1px 5px;
}
.ionic_datepicker_popup .popup-body .pointer_events_none {
  pointer-events: none;
  color: #aaaaaa !important;
}
.ionic_datepicker_popup .popup-body .month_select, .ionic_datepicker_popup .popup-body .year_select {
    border: none;
    border-bottom: 0px solid #383C3B;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}
.ionic_datepicker_popup .popup-body .month_select .input-label, .ionic_datepicker_popup .popup-body .year_select .input-label {
  padding: 2px 0;
  width: 0;
}
.ionic_datepicker_popup .popup-body .month_select select, .ionic_datepicker_popup .popup-body .year_select select {
  left: 10px;
  border: none;
  padding: 0;
}
.ionic_datepicker_popup .popup-body .month_select:after, .ionic_datepicker_popup .popup-body .year_select:after {
  right: 5px;
  color: #383C3B;
}
.ionic_datepicker_popup .popup-body .show_nav {
  padding: 10px 0 0 0;
}
.ionic_datepicker_popup .popup-body .show_nav .prev_btn_section {
  padding: 5px 0;
  text-align: left;
}
.ionic_datepicker_popup .popup-body .show_nav .prev_btn_section button {
  padding: 0;
  font-size: 30px;
    margin-top: -8px;
    color: #fff;
}
.ionic_datepicker_popup .popup-body .show_nav .next_btn_section {
  padding: 5px 0;
  text-align: right;
}
.ionic_datepicker_popup .popup-body .show_nav .next_btn_section button {
  padding: 0;
      font-size: 30px;
    margin-top: -8px;
    color: #fff;
}
.ionic_datepicker_popup .popup-body .button-clear {
  color: #383C3B;
}
.ionic_datepicker_popup .popup-buttons {
  padding: 0;
  min-height: 45px;
}
.ionic_datepicker_popup .popup-buttons button {
background-color: rgba(56, 60, 59, 0);
  border-radius: 0;
  margin-right: 1px;
  color: #ffffff;
}

.ionic_datepicker_modal .header, .ionic_datepicker_modal .footer {
  background-color: #383C3B;
}
.ionic_datepicker_modal .header .title, .ionic_datepicker_modal .header .button, .ionic_datepicker_modal .footer .title, .ionic_datepicker_modal .footer .button {
  color: #ffffff;
}
.ionic_datepicker_modal .footer .button-block {
  margin: 0;
}
.ionic_datepicker_modal .today {
  border: 1px solid #383C3B;
}
.ionic_datepicker_modal .selected_date {
  background-color: #383C3B;
  color: #fff;
  font-weight: bold;
}
.ionic_datepicker_modal .pointer_events_none {
  pointer-events: none;
  color: #aaaaaa !important;
}
.ionic_datepicker_modal .select_section {
  padding: 1px 5px;
}
.ionic_datepicker_modal .button-clear {
  color: #383C3B;
}
.ionic_datepicker_modal .month_select, .ionic_datepicker_modal .year_select {
  border: none;
  border-bottom: 1px solid #383C3B;
  padding: 0;
}
.ionic_datepicker_modal .month_select .input-label, .ionic_datepicker_modal .year_select .input-label {
  padding: 2px 0;
  width: 0;
}
.ionic_datepicker_modal .month_select select, .ionic_datepicker_modal .year_select select {
  left: 10px;
  border: none;
  padding: 0 10px;
}
.ionic_datepicker_modal .month_select:after, .ionic_datepicker_modal .year_select:after {
  right: 5px;
  color: #383C3B;
}
.ionic_datepicker_modal .padding_left_5px {
  padding-left: 5px;
}
.ionic_datepicker_modal .padding_right_5px {
  padding-right: 5px;
}
.ionic_datepicker_modal .date_col {
  height: 50px;
  line-height: 50px;
}
.ionic_datepicker_modal .font_bold {
  font-weight: bold;
}
.ionic_datepicker_modal .font_22px {
  font-size: 22px;
}
.platform-android .ionic_datepicker_modal .bar .title.title-left {
  text-align: center;
}
.platform-android .ionic_datepicker_modal select {
  left: 25%;
}
.platform-ios .ionic_datepicker_modal select {
  left: 5%;
}



/*Tabs Css goes here*/

/*
ion-slide {
    background-color: #f0f0f0;
}

ion-slide:nth-child(2n) {
    background-color: #fff;
}

.slider {
    height: 100%;
}

.slidingTabs {
    height: 48px;
    z-index: 10;
}

.slidingTabs .scroll {
    height: auto;
    min-width: 100%;
}

.slidingTabs ul {
    background-color: #387ef5;
    height: 48px;
}

.slidingTabs ul li {
    height: 48px;
    line-height: 48px;
    text-align: center;
    float: left;
    margin: 0;
    padding: 0 12px 20px 12px;
    font-size: 11px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
    position: relative;
    overflow: hidden;
}

.slidingTabs ul li.tab-active {
    color: #fff;
}

.slidingTabs ul li .ink {
    display: block;
    position: absolute;
    background: rgba(56, 147, 245, 0.8);
    border-radius: 100%;
    transform: scale(0);
}

.slidingTabs ul li .ink.animate {
    -webkit-animation: ripple 0.65s linear;
    animation: ripple 0.65s linear;
}

.slidingTabs .tab-indicator-wrapper {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: translateY(-2px);
    position: absolute;
}

.slidingTabs .tab-indicator-wrapper .tab-indicator {
    height: 100%;
    background-color: #fff;
    width: 70px;
    position: relative;
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
*/
/*Tabs css ends here*/




/*TOUY DESIGN CSS STARTS HERE---#######-------------##########-------------------#########------------------------#########*/

/*
@font-face {
    font-family: "Avenir Light";
    src: url("../lib/ionic/fonts/Avenir-Light.woff");
    font-weight: normal;
  font-style: normal; 
}

h1, h2, h3, h4, h5, h6, p{
  font-family: "Avenir Light";
}

#pg-event-details{
  top: -100vh;
    background:url('../img/BG.png');
    background-size:cover;
    z-index: 2;
    -webkit-transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
}

#pg-event-details.visible{
  top:0vh;
}

#pg-select-interest{
  top: -100vh;
    background:url('../img/BG.png');
    background-size:cover;
    z-index: 2;
    -webkit-transition: -webkit-transform 200ms ease;
    transition: transform 200ms ease;
}
#pg-select-interest.visible{
  top:0vh;
}


#pg-select-interest h1 small{
  display: block;
    color: #FFF;
    z-index: 999;
    margin-top: -10px;
    font-size: 10px;
}
#pg-select-interest button::before {
    font-size: 24px !important;
    //margin-top:10px;
}
.today-live{
  height: 1.2em;
    margin: auto;
    margin-top:0.7em;
    //vertical-align: middle;
}
.menu-content{
  background:url('../img/main_bkg.png');
  background-size:cover;
  background-position:left;
}
.ven-nav-btn{
  color:#FFF !important;
}
.top-bar{
  background:none !important;
}
.tabs{
  background:none !important;
  //border-color:black !important;
  width: 100%;
  margin-left:-50px;
  border-bottom:0px !important;
}
.tabs .tab-item{
  //margin:10px;
}
.list .item.item-accordion {
  line-height: 38px;
  padding: 10px;
  transition: 0.09s all ease-in-out;
  padding-left: 25px;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.interest-btn{
  display: block;
    width: 100%;
    /* height: 50px; */
    text-align: left;
    text-transform: uppercase;
    color: #FFF;
    background: rgba(255, 255, 255, 0.03);
    border: none;
    margin-top: 50px;
    padding: 20px;
    font-size: 18px;
}

.interest-btn i{
  float:right;
}
#map {
  width: 100%;
  height: 75vh;
}

.item.item-stable {
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(248, 248, 248, 0.1);
    color: #FFF;
}

#pg-select-interest .has-header {
    top: 15vh;
}

#pg-select-interest .top-bar{
  height: 15vh;
}

.item.active.item-stable,
.item.activated.item-stable,
.item-complex.active .item-content.item-stable, 
.item-complex.activated .item-content.item-stable, 
.item .item-content.active.item-stable, 
.item .item-content.activated.item-stable 
{
    /* box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.19); */
    background-color: rgba(255, 255, 255, 0.09);
    border: none;
}

.item {
  border-color: rgba(255, 255, 255, 0.08);
  background-color: rgba(0, 0, 0, 0.17);
  color: #FFF;
  font-size: 16px;
}

#list-of-events.has-header {
    top: 18vh;
}

.hidden{
  display:none;
}

.event-list .item{
    background-size: cover;
    height: 100px;
}
.title-event{
  color:#FFF !important;
  font-size:16px;
  display:block;
}
.title-event small{
  display:block;
  font-size:14px;
}
.details-event{
  color: #FFF;
    text-align: right;
    bottom: 2vh;
    position: absolute;
    right: 2vh;
    background: rgba(0, 0, 0, 0.27);
    padding: 5px;
}

.event-info-name {
    background: rgb(77, 65, 103);
    bottom: -4vh;
    position: absolute;
    width: 100%;
    color: #FFF !important;
}

.event-info-name .section-top {
    padding: 23px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.event-info-name h2 {
    color: #FFF;
    font-size: 23px;
    margin: 0px;
    text-transform: uppercase;
}

.section-bottom {
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.23);
}

.event-info-name .section-top h2 small {
    float: right;
    font-size: 14px;
    padding: 8px;
}

*/


/*TOUY DESIGN CSS ENDS HERE---#######-------------##########-------------------#########------------------------#########*/






/*Date css mine*/
.popup-container

{
    width: 100% !important;
    height: 100% !important;

}

.popup-container .popup
{
    width: 100% !important;
    height: 100% !important;
max-height: 100%  !important;
        background: url(../../img/BG.png) no-repeat
    center center fixed !important;
    -webkit- background-size: cover !important;
    -moz- background-size: cover !important;
    -o- background-size: cover !important;
    background-size: cover !important;

}


.ionic_datepicker_popup .popup-body {
    background-color: rgba(255, 255, 255, 0) !important;
}



.ionic_datepicker_popup .popup-body .selected_date_full {
    background-color: rgba(56, 60, 59, 0) !important;
    margin-top: -25px !important;
    font-size: 10px;
    margin-left: 18px;
}
.dates_num {
  color: #fff !important;
}

.date_selection{
      margin-top: 60px;
}

.ionic_datepicker_popup .popup-buttons button {
    background-color: rgba(56, 60, 59, 0) !important;

}



.foot-main-event{

  /*background-color: rgb(0, 0, 0) !important;*/
  /*background-color:  #000 !important;*/
    height: 80px !important;
    background: url(../../img/main_bkg.png)  no-repeat;
  background-size: cover;
    -webkit- background-size: cover;
    -moz- background-size: cover;
    -o- background-size: cover;
}