﻿
<ion-modal-view scroll="true">

<!-- <ion-view view-title="<center>TODAY<sub>{{title}}</sub></center>"> -->

    <ion-content class="background" overflow-scroll="true">
   <!-- <div class="bar bar-header cat-headBar"> -->
   <!-- href="#/home/main" -->
   <a class="button button-icon icon ion-close-round cat-icon" ng-click="modalCatagory.hide()" nav-transition="android"></a>   
   <a class="button button-icon icon ion-calendar cat-icon cat-icon-right" ng-click="openCalender()"nav-transition="android"></a>  
<h3 class="cat-h3">TODAY</h3>
   <h6 class="cat-h4">{{selectedDate}}</h6>

   <div class="item range range-cat">
  <i class="">1 KM</i>
  <input type="range" name="volume">

  <i class="">5 KM</i>
</div>

              <ion-list class="cat-list">
<!--         <div ng-repeat="group in groups" class="cat-rep">
          <ion-item class="item item-trns"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
            &nbsp;
                    <div class="enjoy-css">{{group.name}}<p ng-repeat="X in eventnumber" style="color: white;text-align: right;padding-right: 30px;">{{X}}</p>

        </div>
<hr class="style-one">
          </ion-item>
          <ion-item class="item-accordion item item-trns"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)" >
                    <a ng-click="gotoSubCategory()">
                    <div class="enjoy-css">{{ item.subId }}<p ng-repeat="X in eventnumber" style="color: white;text-align: right;padding-right: 30px;">{{X}}</p>
            </div>
</a>
<hr class="style-one">

          </ion-item>
        </div> -->

<div ng-repeat="item in categoryList" class="cat-rep">

          <ion-item class="item item-trns"
                    ng-click="gotoSubCategory()" >
            &nbsp;
                    <div class="enjoy-css" style="font-family: Avenir-Book;">{{item.name}} </div>
<hr class="style-one">
          </ion-item>
</div>
      </ion-list>
    </ion-content>
<!-- </ion-view> -->
</ion-modal-view>
